#path403.login .login-form {
  float: left;
  width: 44%;
  padding-right: 6%;
  border-right: 1px dotted #ccc;
}
#path403.login #user-login .form-item input {
  width: 98%;
}

#path403.login .forgot {
  margin-top: 10px;
}

#path403.login .message {
  float: left;
  width: 44%;
  padding-left: 5%;
}